@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Login to your account</h1>
<form asp-action="Login">
    <label for="login"><h3>Login:</h3></label><br />
    <input type="text" id="login" name="login"><br><br>
    <label for="password"><h3>Password:</h3></label><br />
    <input type="password" id="password" name="password"><br><br>
    <a asp-controller="Home" asp-action="Index">Don't you have an account yet?</a><br />
    <input type="submit" value="Sign In">
</form>